* {
    padding: 0;
    margin: 0;
  }

  .gallery{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100dvh;

    &::before{
        position: absolute;
        content: " ";
        height: 100dvh;
        width: 100dvw;
        background-image: url(../img/background.jpg);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: 13% 50%;
        filter: brightness(35%);
        z-index: -1;
    }
 
    & .text-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100dvw;

       & > h1 {
        font-size: 80px;
        font-family: "Libre Bodoni", serif;
        padding: 15px;
        width: 100dvw;
        text-align: center;
        color: white;
         }

        & > h3 {
            font-size: 25px;
            width: 100dvw;
            text-align: center;
            font-family: "Libre Bodoni", serif;
            font-style: italic;
            padding: 5px;
            letter-spacing: 2px;
            color: white;
        } 
    }


    & .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 65dvh;
    

        & .card {
            width: 300px;
            background-color: #683a46;
            color: whitesmoke;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            margin: 20px;

            
            &:active {
              background: transparent;
            }

            &.active .card-content{
                opacity: 100%;
                transform: scaleX(1);
                transition: all linear 0.5s;
                background-color:#a1525f;
                color: whitesmoke;

            }

            &.active img{
                opacity: 100%;
                transform: scaleX(1);
                transition: all linear 0.5s;
            }


            &.active {
                background-color:#a1525f; 
              }

            & > img {
                opacity:0;
                width: 100%;
                height: auto;
                transform: scaleX(-1);
                background-color:pink;
            }

            & .card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 26px;
                height: 35dvh;
                opacity: 0;
                transform: scaleX(-1);

                

                & > h3 {
                    
                    font-family: "Libre Bodoni", serif;

                }

                & > p {
                    font-family: "Raleway", sans-serif;
                    font-size: 15px;
                }

                & > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 200px;
                    border-radius: 25px;
                    background-color: #f9aaad;
                    color: black;
                    font-weight: 600;
                    text-decoration: none;
                    font-family: "Libre Bodoni", serif;
                    letter-spacing: 1px;
                    transition: all ease-in-out 1s;
                    &:active {
                        background-color: #c5757c;
                      }
                    
                      &:hover {
                        transform: translate(0px, -5px); /* move up on hover */
                      }
                }


            }

         
        }
    }
}