* {
    padding: 0;
    margin: 0;
  }
  
#s-c {
    display: flex;
    align-items:center;
    height: 88dvh;
    width:100%;
    position: relative;


    &::before{
      content: " ";
      position: absolute;
      height: 74dvh;
      width: 100%;
      background-size: cover;
      background-image: url(../img/background.jpg);
      background-repeat: no-repeat;
      background-position: 8% 40%;
      z-index: -1;
    }

   

    & .left-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 25px;
      margin-left:5dvw ;
      width: 45dvw;
      height: 48dvh;
      background-color: #ffc0cb60;

      
      & .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        height: 48dvh;
        width: 28dvw;


        & > h1 {
          font-size: 55px;
          letter-spacing: 7px;
          text-align: center;

          height: 65px;
          margin: 40px 15px 0px 15px ;
        }

        & > h3 {
          font-size: 15px;
          letter-spacing: 1px;
          margin: 0px 15px 0px 21px;
          text-align: center;
          width: 23dvw;
          height: 65px;
        }

        & .social{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 20dvw;
          height: 8dvh;

  
          & > i {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            background-color: pink;
            font-size: 25px;
            border-radius: 25px;
            transition: all ease-in-out 0.5s;
            &:active {
              background-color: #683a46;
            }
          
            &:hover {
              transform: translate(0px, -5px); /* move up on hover */
            }
          }
      }
    }
  }

    & .center-container{
      position: relative;
      height: 85dvh;
      width: 58dvw;

      &:hover .cosplay{
        opacity: 100%;
      }

      &:hover .keziah{
        opacity: 0%;

      }

      & .keziah {
        z-index: 1;
        left: 0;
        transition: all ease 1s;

      }

      & .cosplay {
        opacity: 0%;
        z-index: -1;
        transition: all ease 1s;
      }

      & img {
        height: 92dvh;
        object-fit: cover;
        object-position: left;
        position: absolute;
        left: 0;
        bottom:0;
        z-index: 1;
      }
    }

    & .right-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 25px;
      width: 50dvw;
      height: 18dvh;
      background-color:  #ffc0cb60;

      
      & .text-content {
        display: flex;
        justify-content: space-around;
        background-color: whitesmoke;
        height: 20dvh;
      

      & .image {
        width: 15dvw;
        padding: 25px;
        height: 15dvh;
        
        & > img {
          height: 100px;
          width: 100px;
          border-radius: 100px;
        }
      }

      & .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: whitesmoke;
        height: 20dvh;
      }

      & .title{
        & > h1 {
          padding: 5px;
        }
        & >h3 {
          font-size: 15px;
        }
        & > p {
          padding: 9px;
        }
      }

     
       
    }
  }
  }
