* {
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: rgb(251, 197, 206);
  
    & .logo_01{
      transition: all 0.5s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
    

    & .header_nav {
      width: 45vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  
      & a {
        text-decoration: none;
        font-size: 15px;
        color: rgb(18, 13, 4);
        transition: all 0.5s ease-in-out;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }