* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
#landing-page {
    display: flex;
    flex-direction: row;
    height: 100dvh;

    & .text {
        position: relative;
        height: 94dvh;
        width: 50dvw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 25px ;

        &::before{
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 150dvw;
            height: 100dvh;
            background-image: url(../img/background.jpg);
            background-position: left;
            background-size: 34% 121%; 
            object-fit: contain;
            background-repeat: no-repeat;
            filter: blur(5px);
            z-index: -1;
        }

        & .sub {
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 96dvh;
            margin: 5dvh 0dvh 5dvh 0dvh;

            & > h3 {
                font-size: 20px;
                text-align: end;
                
            }
        }

        & .middle {

            display: flex;
            flex-direction: column;
            align-items: end;
            margin-top: 5dvh;

            & > h1 {
                font-size: 35px;
            }

            & > h2 {
                font-size: 120px;
                width: 49dvw;
                text-align: end;

            }
        }

        & .bottom {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            margin-bottom: 5dvh;
            margin-right: 4px;
            margin-left: 3dvw;
            color: white;
            background-color: palevioletred;

            & > p {
                
                text-align: justify;
                width: 44dvw;
                letter-spacing: 1px;
                font-size: 21px;
            }

            & > a {
                margin: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 90px;
                background-color: pink;
                text-decoration: none;
                font-size: 20px;
            }
        }
        
    }

    & .image {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        height: 100dvh;
        width: 50dvw;
        
        &::before{
            content: " ";
            position: absolute;
            top: 0;
            right:0;
            width: 150dvw;
            height: 100dvh;
            background-image: url(../img/background.jpg);
            background-position: left;
            background-size: cover; 
            background-repeat: no-repeat;
            filter: blur(5px) brightness(0.5) contrast(0.7) ;
            transform: scaleX(-1); /* flip vertically */
            z-index: -1;
        }

        & .keziah-01{
            
            object-fit: cover;
            object-position: -55dvw -68dvh;
            width: 98dvw;
            height: 100dvh;
           

            
          
        }
        
    }
}