* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#caster {
    margin-top: 50px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99dvw;
    overflow: hidden;

    & .text{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        & > h1 {
            font-size: 45px;
        }
     
    }

    & .gallery {
        display: flex;
        justify-content: space-around;
        width: 100dvw;
        padding: 25px;

        & .left {
            border-radius: 50px;
            object-fit: cover;
            height: 500px;
            width: 500px;
        }

        & .right {
            object-fit: cover;
            border-radius: 50px;
            height: 500px;
            width: 800px;
        }
    }
  }

#model {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    width: 99dvw;

    & .right{
     display: flex;
     align-items: center;
     justify-content: center;
     width:65dvw;
     height: 75dvh;
     border-radius: 50px;
     border: 5px solid #ffc0cb;

        & > img{
            border-radius: 50px;

            object-fit: cover;
            width: 664px;
            height: 482px;
        }
    }

    & .left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65dvw;
        border-radius: 50px;
       

        & .image{

            display: flex;
          
            & > img{
                object-fit: cover;
                width: 350px;
                height: 350px;
                padding: 10px;
                border-radius: 50px;
                border: 5px solid pink;
            }

        }

    }

  }

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1)
    }
}

#hobbies {

    display: flex;
    align-items: center;
    
    

    & > h1 {
        height: 100px;
        width: 99dvw;
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 192, 203, 0.237) ;
        justify-content: center;
        z-index: 2;
        color: whitesmoke;
        font-size: 55px;
        letter-spacing: 2px;
    
    }


    & .slider {
      --width: 500px;
      --height: 500px;
      --quantity: 8;
      width: 99dvw;
      height: var(--height);
      overflow: hidden;
      mask-image: linear-gradient(to right, #ffc0cb5b, #000 20% 80%, #ffc0cb5b);
       position: relative;
      &::before{

            position: absolute;
            content: " ";
            filter: blur(5px);
            width: 99dvw;
            height: 500px;
            background-image: url(../img/background.jpg);
            background-repeat: no-repeat;
            background-size: cover;
     }
  
      & .list {
        display: flex;
        position: relative;
        width: 100dvw;
        min-width: calc(var(--width) * var(--quantity));
  
        & .item {
            width: var(--width);
            height: var(--height);
            position: absolute;
            left:50%;
            animation: autoRun 15s linear infinite;
            animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1));
          
            & > img {
                border-radius: 50px;
              object-fit: cover;
              height: 600px;
              width: 500px;
            }
        }
        
      }
    }
  }
