* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1)
    }
}

#hobbies {
    margin: 25px 0px 25px 0px;

    & > h1 {
        height: 500px;
        width: 100dvw;     
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-size: 55px;
        letter-spacing: 2px;

        &:hover .item{
            animation-play-state: paused!important ;
        }
    
    }


    & .slider {
      --width: 500px;
      --height: 500px;
      --quantity: 8;
      width: 100dvw;
      border: 5px solid red;
      height: var(--height);
      overflow: hidden;
      mask-image: linear-gradient(to right, #ffc0cb5b, #000 20% 80%, #ffc0cb5b);
  
  
      & .list {
        display: flex;
        position: relative;
        width: 100%;
        min-width: calc(var(--width) * var(--quantity));
  
        & .item {
            width: var(--width);
            height: var(--height);
            position: absolute;
            left: 50%;
            animation: autoRun 20s linear infinite;
            animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1));
          
            & > img {
              object-fit: cover;
              height: 600px;
              width: 500px;
            }
        }
  
      }
    }
  }