* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98dvw;
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 150dvw;
        height: 100dvh;
        background-image: url(../img/background.jpg);
        background-position: left;
        background-size: 100% 100%; 
        object-fit: contain;
        background-repeat: no-repeat;
        filter: blur(5px);
        z-index: -1;
    }
    
    & .top-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        width: 95dvw;
        height: 10dvh;

        & .container {
            display: flex;
            background-color: pink;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            margin-top: 25px;
            width: 45dvw;
        }
    }

    & .bottom-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100dvw;
        height: 90dvh;
        
        & .white-background {

            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 75dvh;
            width: 65dvw;
            background-color: rebeccapurple;
            & .center-container {
                width: 28dvw;
    
                & .container {      
                    background-color: pink;
                    padding: 25px;
                }
    
                & .top{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
    
    
                & .material-symbols-outlined {
                    font-size: 45px;
                }
    
                }
    
                & .middle{
                    position: relative;
    
                    & .instagram{
                        background-color: rgba(92, 84, 84, 0.545);
                        position: absolute;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding: 5px 5px 5px 5px;
                        z-index: 2;
                        bottom: 0;
                        left: 0;
                        width: 28dvw;
    
    
                        & .information {
                            height: 10dvh;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                           
                            & > h2 {
                                color: white;
                            }
    
                            & > h1 {
                                color: white;
                            }
                        }
    
                        & .icons {
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 5dvw;
                            font-size: 35px;
                            color: white;
                        }
                    }
    
                    & img {
    
                        object-fit: cover;
                        padding: 5px 0px 5px 0px;
                        background-color: white;
                        width: 28dvw;
                    }
                }
    
    
            }
    
    
            & .right-container {
                
                    & .school-info {
                        padding: 25px;
                        & .title {
    
                            & h3 {
                                margin-left: 30%;
                            }
                            & .year{
                                display: flex;
                            }
    
                        }
                    }
    
                }
            }
        }

        & .side-text {
            & h3 {
                display: flex;
                align-items: center;
                writing-mode: vertical-rl;
                text-orientation:upright;
            }
        }
        
    }
