* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98dvw;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 99dvw;
    height: 98dvh;
    background-image: url(../img/background.jpg);
    background-position: left;
    background-size: 100% 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
  }

  & .top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95dvw;
    height: 10dvh;

    

    & .container {
      display: flex;
      background-color: pink;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      margin-top: 25px;
      width: 45dvw;

      & > h3 {
        font-family: "Libre Bodoni", serif;
        letter-spacing: 2px;
      }
     
    }
  }

  & .bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 90dvh;

    & .left-container {
      position: relative;
      width: 30dvw;
      height: 85dvh;
      overflow: hidden;


      & .flower {
        position: absolute;
        object-fit: contain;
        width: 37dvw;
        height: 87dvh;
        left: 0;
        bottom: -85px;
       
        & > img {
          position: absolute;
          height: 90dvh;
         
          z-index: 1;
        }
      }
      & .sitting {
        position: relative;
        object-fit: cover;
        width: 30dvw;
        height: 90vh;
    }
        & > img {
          position: absolute;
          right: 0;
          bottom: 43px;
          z-index: 1;
        }
      }
    }

    & .white-background {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 85dvh;
      width: 65dvw;
      border-radius: 25px;
      background-color: whitesmoke;

      & .center-container {
        width: 28dvw;

        & .container {
          background-color:#f9aaad;
          padding: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          
        }

        & .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

         & .context{

             &  h1 {
                 font-family: "Libre Bodoni", serif;
                 font-size: 30px;
             }
 
             & > h3 {
                 font-family: "Raleway", sans-serif;   
                 font-size: 20px;   
                 font-weight: 500;
                 letter-spacing: 3px;
                 margin-left:3px ;
                }
         }

          & .material-symbols-outlined {
            font-size: 45px;
            
          }

       
        }

        & .middle {
          position: relative;

          & .instagram {
            background-color: rgba(92, 84, 84, 0.545);
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 5px 9px 0px;
            z-index: 2;
            bottom: 0;
            left: 0;
            width: 28dvw;

            & .information {
              height: 10dvh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 15px;
              padding-right: 15px;

              & > h2 {
                font-family: "Libre Bodoni", serif;
                 font-size: 20px;
                 color: white;
              }

              & > h1 {
                font-family: "Libre Bodoni", serif;
                font-size: 15px;
                letter-spacing: 2px;
                color: white;          
                }
            }

            & .icons {
              display: flex;
              align-items: center;
              justify-content: space-around;
              width: 5dvw;
              font-size: 35px;
              color: white;
            }
          }

          & img {
            object-fit: cover;
            padding: 5px 0px 5px 0px;
            width: 28dvw;
          }
        }

        & .bottom {
            height: 25dvh;
            & > h3 {
                font-family: "Libre Bodoni", serif;
                font-size: 20px;
                color: black;
            }

            & > p {
                font-family: "Raleway", sans-serif;   
                font-size: 15px;   
                font-weight: 400;
                text-align: justify;
            }

          }

      }

      & .right-container {
        height: 80dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      
        & > h1 {
          font-family: "Libre Bodoni", serif;        
          font-size: 25px;
          padding: 15px 0px 15px 0px;
          font-weight: 800;
          letter-spacing: 2px;
          line-height: 25px;   
        }

        & .school-info {
          background-color:#f9aaad;
          width: 32dvw;
          height: 36dvh;
          padding-top: 29px;
          border-radius: 25px;


          & > h1 {
            font-family: "Libre Bodoni", serif;        
            font-size: 25px;
            padding: 20px;

            font-weight: 800;
            text-align: center;       
            letter-spacing: 2px;   
}
          & .title {
            
            & h3 {
              margin-left: 31%;
              width: 21dvw;
              text-align: justify;
              padding-bottom: 8px;
              line-height: 25px;   

              font-family: "Raleway", sans-serif;   
              font-size: 20px;   
              font-weight: 400;


            }
            & .year {
              display: flex;

              & > h1 {
                
                    font-family: "Libre Bodoni", serif;
                    font-size: 20px;
                    color: black;
        
                margin-left: 2%;
              }
            }
          }
        }

        & .more-info {
            & > h3 {
                font-family: "Libre Bodoni", serif;        
                font-size: 25px;
                padding: 15px 0px 15px 0px;
                font-weight: 800;
                letter-spacing: 2px;   
    }
        }
      }
    }
    
  }

  & .side-text {
    & h3 {
      font-family: "Libre Bodoni", serif;
      height: 85dvh;
      margin: 10px;
      padding: 5px;
      display: flex;
      justify-content: center;
      border-radius: 25px;
      background-color:whitesmoke;
      align-items: center;
      writing-mode: vertical-rl;
      text-orientation: upright;
      letter-spacing: 2px;
      font-size: 15px;
    }
  }

